<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/insertmovie">
        <div class="banner">
          <h1>Add User</h1>
        </div>
        <br/>
      
          <div >
            <label for="id">Enter Movie Id<span>*</span></label>
            <input type="text" name="movieid">
          </div>
          <div >
            <label for="name">Enter Movie Name<span>*</span></label>
            <input type="text" name="moviename">
          </div>
          <div >
            <label for="director">Director<span>*</span></label>
            <input type="text" name="director">
          </div>
       	  <div >
            <label for="heroname">Hero Name<span>*</span></label>
            <input type="text" name="hero">
          </div>
          
         <div >
            <label for="heroine">Heroine Name<span>*</span></label>
          <input type="text" name="heroine">
          </div>
          
          <div >
            <label >Language<span>*</span></label>
          <input type="text" name="language">
          </div>
        
        
        <div >
          <button type="submit" >Submit</button>
        </div>
      </form>
</body>
</html>