<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="/insertuser" method="post">
        <div >
          <h1>Add User</h1>
        </div>
        <br/>
      
          <div >
            <label for="email"> Email<span>*</span></label>
            <input type="text" name="email">
          </div>
          <div >
            <label for="name">Name<span>*</span></label>
            <input type="text" name="name">
          </div>
          <div >
            <label for="mobile">Mobile<span>*</span></label>
            <input type="text" name="mobile">
          </div>
       	  <div >
            <label for="mobile">Address<span>*</span></label>
            <input type="text" name="location">
          </div>
        
        
        <div >
          <button type="submit" >Submit</button>
        </div>
      </form>


</body>
</html>